/* General styles */

*{
	margin: 0;
	padding: 0;
}

/* Header */
.header{
	width: 100%;
	max-width: 1050px;
	min-height: 18vh;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
}

.logo{
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img{
	width: 200px;
}

.socials_and_main-menu{
	flex-basis: 75%;
}

.socials_and_login,
.main-menu{
	min-height: 50%;
}

.socials_and_login{
	display: flex;
	flex-wrap: wrap;
}

.socials{
	flex-basis: 75%;
	display: flex;
	align-items: center;
    justify-content: end;
}

.socials a{
	margin-left: 0.9vw;
	font-size: 1vw;
	color: #4f4f4f;
}

.login{
	flex-basis: 25%;
}