/* General styles */

*{
	margin: 0;
	padding: 0;
}


/* Header */
.header{
	width: 100%;
	max-width: 1050px;
	min-height: 18vh;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
}

.logo{
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img{
	width: 200px;
}

.socials_and_main-menu{
	flex-basis: 75%;
}

.socials_and_login,
.main-menu{
	min-height: 50%;
}

.socials_and_login{
	display: flex;
	flex-wrap: wrap;
}

.socials{
	flex-basis: 75%;
	display: flex;
	align-items: center;
    justify-content: end;
}

.socials a{
	margin-left: 0.9vw;
	font-size: 1vw;
	color: #4f4f4f;
}

.login{
	display: flex;
	flex-basis: 25%;
	text-align: center;
	align-items: center;
	justify-content: end;
}

.login a{
	text-decoration: none;
	font-size: 0.9vw;
	padding: 2.5% 4%;
	margin: 0 0.3vw;
    border-radius: 50px;
}

.login a.log-in{
	background-color: #345ea6;
    color: #ffffff;
    border: 1px solid #345ea6;    
}

.login a.sign-in{
	background-color: #ffffff;
    color: #345ea6;
    border: 1px solid #345ea6;
}

.main-menu nav{
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 0.3vw;
}

.main-menu nav a{
	margin-left: 2vw;
	text-transform: uppercase;
	text-decoration: none;
	color: #4f4f4f;
}

.main-menu nav a:hover{
	text-decoration: underline;
}

.main-menu nav a.active{
	font-weight: bold;
}
