/* General styles */

*{
	margin: 0;
	padding: 0;
}

body{
	color: #4f4f4f;
}

.text-color-blue{
	color: #345ea6;
}


/* Header */
.header{
	width: 100%;
	max-width: 1050px;
	min-height: 18vh;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
}

.logo{
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img{
	width: 200px;
}

.socials_and_main-menu{
	flex-basis: 75%;
}

.socials_and_login,
.main-menu{
	min-height: 50%;
}

.socials_and_login{
	display: flex;
	flex-wrap: wrap;
}

.socials{
	flex-basis: 75%;
	display: flex;
	align-items: center;
    justify-content: end;
}

.socials a{
	margin-left: 0.9vw;
	font-size: 1vw;
	color: #4f4f4f;
}

.login{
	display: flex;
	flex-basis: 25%;
	text-align: center;
	align-items: center;
	justify-content: end;
}

.login a{
	text-decoration: none;
	font-size: 0.9vw;
	padding: 2.5% 4%;
	margin: 0 0.3vw;
    border-radius: 50px;
}

.login a.log-in{
	background-color: #345ea6;
    color: #ffffff;
    border: 1px solid #345ea6;
}

.login a.sign-in{
	background-color: #ffffff;
    color: #345ea6;
    border: 1px solid #345ea6;
}

.main-menu nav{
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 0.3vw;
}

.main-menu nav a{
	margin-left: 2vw;
	text-transform: uppercase;
	text-decoration: none;
	color: #4f4f4f;
}

.main-menu nav a:hover{
	text-decoration: underline;
}

.main-menu nav a.active{
	font-weight: bold;
}


/* Top Slider */
.top-slider{
	width: 100%;
	height: 82vh;
	background-color: #345ea6;
}

.cycle-slideshow{
	display: flex;
	width: 100%;
	height: 100%;
}

.cycle-pager{
    position: absolute;
    bottom: 0.5vh;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
}

.cycle-pager span{
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 4vw;
}

.cycle-pager-active{
	color: #4f4f4f;
}

.cycle-prev{
	position: absolute;
	bottom: 50%;
	left: 5%;
	z-index: 999;
}

.cycle-prev:before{
	content: "<";
	color: #ffffff;
	font-size: 3vw;
	font-weight: bold;
}

.cycle-next{
	position: absolute;
	bottom: 50%;
	right: 5%;
	z-index: 999;
}

.cycle-next:before{
	content: ">";
	color: #ffffff;
	font-size: 3vw;
	font-weight: bold;
}

.slider-box{
	background-image: url(slider-background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.cover{
	width: 100%;
	height: 100%;
	background-color: rgba(52, 94, 166, 0.7); /* #345ea6; */
}

.inner-texts-box{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.inner-texts-box h2,
.inner-texts-box h3,
.inner-texts-box > div{
	flex-basis: 100%;
	color: #ffffff;
	padding-left: 1%;
	padding-right: 1%;
	box-sizing: border-box;
}

.inner-texts-box h2{
	font-size: 5vw;
	margin-bottom: 3vh;
}

.inner-texts-box h3{
	font-size: 3vw;
	line-height: 130%;
	margin-bottom: 1vh;
}

.inner-texts-box > div p{
	font-size: 1.5vw;
	line-height: 120%;
	margin-bottom: 6vh;
}

.inner-texts-box > div a{
	font-size: 1.5vw;
	line-height: 100%;
	background-color: #ffffff;
    color: #345ea6;
    padding: 1% 2%;
    text-decoration: none;
    border-radius: 50px;
}

@media(min-width: 768px) and (max-width: 1024px){

	.inner-texts-box h2{
		font-size: 6vw;
		margin-bottom: 3vh;
	}

	.inner-texts-box h3{
		font-size: 4vw;
		margin-bottom: 1vh;
	}

	.inner-texts-box > div p{
		font-size: 2.5vw;
		line-height: 120%;
		margin-bottom: 6vh;
	}

	.inner-texts-box > div a{
		font-size: 2.5vw;
		line-height: 100%;
	    padding: 1% 2%;
	}

}

@media(max-width: 767px){

	.cycle-prev,
	.cycle-next{
		bottom: 85%;
	}

	.cycle-prev:before,
	.cycle-next:before{
		font-size: 6vw;
	}

	.inner-texts-box h2{
		font-size: 9vw;
		margin-bottom: 3vh;
	}

	.inner-texts-box h3{
		font-size: 7vw;
		margin-bottom: 2vh;
	}

	.inner-texts-box > div p{
		font-size: 5.5vw;
		line-height: 120%;
		margin-bottom: 6vh;
	}

	.inner-texts-box > div a{
		font-size: 5.5vw;
		line-height: 100%;
	    padding: 3% 4%;
	}

	.cycle-pager{
	    bottom: 3vh;
	}

	.cycle-pager span{
		margin-left: 4vw;
		margin-right: 4vw;
		font-size: 10vw;
	}

}


/* About section */

.about-section{
	width: 100%;
	max-width: 1050px;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
	border-bottom: 3px solid #4f4f4f;
}

.section-inner{
	display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-description{
	flex-basis: 60%;
	padding-left: 0;
	padding-right: 5%;
	box-sizing: border-box;
}

.about-description h2{
	font-size: 2.7vw;
	margin-bottom: 3vh;
}

.about-description h3{
	font-size: 1.7vw;
	line-height: 110%;
	margin-bottom: 1.5vh;
}

.about-description p{
	text-align: justify;
    font-size: 1.1vw;
    line-height: 150%;
    margin-bottom: 3vh;
}

.about-description a{
	background-color: #345ea6;
    color: #ffffff;
    border: 1px solid #345ea6;
    padding: 2% 3%;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 2vh;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
}

.about-image{
	flex-basis: 40%;
	background-image: url(meeting.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media(min-width: 768px) and (max-width: 1024px){

	.about-section{
		max-width: 750px;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.about-description h2{
		font-size: 3.7vw;
		margin-bottom: 3vh;
	}

	.about-description h3{
		font-size: 2.5vw;
		line-height: 110%;
		margin-bottom: 1.5vh;
	}

	.about-description p{
	    font-size: 1.7vw;
	    line-height: 150%;
	    margin-bottom: 3vh;
	}

	.about-description a{
	    padding: 2% 3%;
	    margin-top: 2vh;
	    font-size: 2vw;
	}

}

@media(max-width: 767px){

	.about-section{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.about-description,
	.about-image{
		flex-basis: 100%;
	}

	.about-description{
		padding-left: 1%;
		padding-right: 1%;
	}

	.about-image{
		height: 300px;
	}

	.about-description h2{
		font-size: 7vw;
	}

	.about-description h3{
		font-size: 5vw;
	}

	.about-description p{
	    font-size: 3.5vw;
	}

	.about-description a{
		font-size: 4.5vw;
	    margin-bottom: 5vh;
	}

}